body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  max-width: 100%;
  background: lightblue;
}

nav {
  width: 100vw;
  height: 50px;
}

nav ul li {
  display: inline-block;
}
